 /* font-family: "Golos Text", sans-serif; */
 /* font-family: "Poppins", sans-serif; */
 body {
     font-family: "Poppins", sans-serif;
     background-color: #F6F7F9;
 }


 @theme {
     --breakpoint-*: initial;
     --breakpoint-2xl: 1580px;
     --breakpoint-xl: 1366px;
     --breakpoint-mlg: 1280px;
     --breakpoint-lg: 1024px;
     --breakpoint-md: 767px;
     --breakpoint-sm: 480px;
 }

 /* common */

 .my-container {
     width: 100%;
     max-width: 1440px;
     padding-left: 40px;
     padding-right: 40px;
     margin: 0 auto;
 }

 .golos-font {
     font-family: "Golos Text", sans-serif;
 }



 /* login */
 .bg-image {
     background-image: url(../assets/login-bg-img.jpg);
     background-size: cover;
 }

 .btn-pri {
     background-color: #55DCFA;
     border-radius: 24px;
     padding: 12px 20px;
     font-size: 14px;
     font-weight: 500;
     color: #fff;
     width: 100%;
     cursor: pointer;
     transition: all .4s ease;
     text-align: center;
 }

 .btn-sec {
     background-color: transparent;
     border: 1px solid #55DCFA;
     border-radius: 24px;
     padding: 12px 20px;
     font-size: 14px;
     font-weight: 500;
     color: #55DCFA;
     width: 100%;
     cursor: pointer;
     transition: all .4s ease;
     text-align: center;
 }

 .btn-pri:hover {
     background-color: #081420;
 }

 .banner {
     background-image: url(../assets/landing-bg-img.jpg);
     background-size: cover;
 }

 /* faq */


 .faq-item {
     cursor: pointer;
 }

 .faq-item.active .faq-question {
     border-radius: 10px 10px 0 0;
     background-color: #DEF3F9;
 }

 .faq-item .faq-question span .up {
     display: none;
 }

 .faq-item.active .faq-question span .up {
     display: block;
 }

 .faq-item.active .faq-question span .down {
     display: none;
 }

 .faq-question {
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 24px 40px;
     font-size: 24px;
     font-weight: 400;
     color: #081420;
     border-radius: 10px;
     background: #fff;
 }

 .faq-answer {
     display: none;
     padding: 24px 40px;
     padding-top: 0;
     border-radius: 0 0 10px 10px;
     background: #DEF3F9;
     color: #919191;
 }

 .faq-item.active .faq-answer {
     display: block;
 }

/* sidebar CSS */
.sidebar ul li:hover{background-color: #fff;}


/* table */
    table {
      width: 100%;
      border-collapse: collapse;
      text-align: left;
    }
    th, td {
     font-size: 14px;
     font-weight: 500;
     padding:6px 0 ;
    }
    th {
      color: #999;
      font-weight: normal;
    }
    .logo {
      width: 25px;
      vertical-align: middle;
      margin-right: 8px;
    }
    .name {
      display: flex;
      align-items: center;
    }
    .value {
      color: red;
    }
    .buy-btn {
      background-color: #00ccff;
      color: white;
      border: none;
      padding: 8px 16px;
      border-radius: 20px;
      cursor: pointer;
    }
    .wishlist {
      text-align: center;
      font-size: 18px;
    }





 /* responisve */
@media only screen and (max-width: 1024px){
.my-container{padding-left: 20px; padding-right: 20px;}

.faq-question {
    padding: 16px 20px;
    font-size: 18px;
}
.faq-question span img {
    width: 20px;
}
.faq-answer {
    padding: 16px 20px;
    padding-top: 0;}
}



/* ls */

div#subTable_wrapper {
    overflow: auto;
    min-height: calc(100vh - 200px);
    height: 100%;
    max-height: calc(100vh - 200px);
}

.modal.show .modal-dialog {
    width: 100%;
    max-width: 1200px;
}

@media only screen and (max-width: 767px){
div#subTable_wrapper {
    max-height: calc(100vh - 120px);
}
}
@media only screen and (max-width: 767px){
.elementor-4148 .elementor-element.elementor-element-8ef3527 #customer_details .input-text {
    width: 100%;
}
}

.slider-in-two {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
.slider-in-two .img-box {
    position: relative;
}
.slider-in-two .img-box .tab.delete{
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    z-index: 888;
    background-color: #ff5151;
    color: #fff;
    border: none;
}


img{width: 100%; height: auto;}

.slider-in-two .img-box {
    position: relative;
}
.slider-in-two .btnn-box {
    display: flex;
    align-items: center;
    gap: 12px;
    position: absolute;
    top: 20px;
    right: 20px;
}
.slider-in-two button.tab img {
    width: 100%;
    height: auto;
    border: none;
}

.slider-in-two .img-box .tab.delete {
    position: initial;
    bottom: 0px;
    right: 20px;
    cursor: pointer;
    z-index: 888;
    background-color: #ff5151;
    color: #fff;
    border: none;
    font-size: 14px;
    padding: 8px 16px;
    font-weight: 400;
}
.slider-in-two .img-box .tab.view {
    position: initial;
    bottom: 0px;
    right: 20px;
    cursor: pointer;
    z-index: 888;
    background-color: #00183f;
    color: #fff;
    border: none;
    font-size: 14px;
    padding: 8px 16px;
    font-weight: 400;
}


